@{
    ViewBag.Title = "CloudClass";
}

<h2>Please select a course from the list:</h2>

<div>
    <table class="table">
        <tr>
            <th>Course Name</th>
            <th>Course ID</th>
        </tr>
    </table>
</div>