@{
    ViewBag.Title = "CloudClass";
}

<h2>Please select a course from the list:</h2>

<div>
    <table class="table">
        <tr>
            <th>Course</th>
        </tr>
            @foreach (string course in ViewBag.userCourses)
            {
                <tr>

                </tr>
            }
    </table>
</div>